body {
  background-color: #f0f2f5;
  color: #333;
}

.user-card,
.form-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.user-avatar {
  width: 150px; /* Задаем фиксированную ширину */
  height: 150px; /* и высоту, чтобы сделать контейнер квадратным */
  border: 3px solid #032c6a;
  object-fit: cover; /* Масштабирует изображение с сохранением пропорций */
  object-position: center; /* Центрирует изображение */
}

h1,
h3,
h5 {
  color: #032c6a;
}
