/* Сделаем таблицу нормальной */
table {
  border-collapse: collapse;
  /* max-width: 50%; */
  /* min-width: 400px; */
  text-align: center;
  /* Горизонтальная прокрутка когда таблица не влазит в экран */
  overflow-x: auto;
  /* 
    Display block для того, чтобы таблица не растягивала родителя
    и не вызывала горизонтальную прокрутку для всей страницы
    */
  display: block;
}

/* thead important! */
thead > tr > th {
  background-color: #f2f2f2;
  font-family: "Courier New", Courier, monospace;
}

img {
  max-width: 8vw;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

ul {
  list-style-type: none;
}

/* Как добавить перед каждой li */
/* ul.checked>li::before {
    content: "✅";
} */

li::before {
  content: "✅";
}

/* Эффект всплытия по наведению TR находящиеся в tbody c анимацией и тенью */
tbody tr:hover {
  background-color: #f2f2f2;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
  transition: all 0.1s ease;
  cursor: pointer;
}
/* odd - четный, even - нечетный */
/* Можно поставить цифру, например 2n для четных или 2n+1 для нечетных */

tr:nth-child(even) {
  background-color: #ffeeee;
}

tr:nth-child(odd) {
  background-color: #f2efff;
}

/* Сделаем подобное и для секций */
section:nth-child(even) {
  background-color: #fbfff6;
}

/* Сделаем покраску по столбикам для .test-table ТОГДА УДАЛИТЕ ТРИ СТИЛЯ ВЫШЕ*/
.test-table  td:nth-child(3n+2) {
  background-color: #f2efff;
}

/* Похожая история для списков */

/* ul li:nth-child(odd) {
  background-color: #9684e5;
} */