body {
  background-color: rgb(221, 236, 250);
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(230, 219, 142);
}

img {
  border-radius: 10px;
  max-width: 90%;
}

section {
  text-align: center;
}

section > div {
  display: inline-block;
  max-width: 45%;
  vertical-align: top;
  min-width: 450px;
}

section > div.img {
  display: inline-block;
  text-align: center;
  max-width: 45%;
  min-width: 450px;
  vertical-align: top;
}

section > div.card {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 10px;
  max-width: 15%;
  min-width: 250px;
  min-height: 150px;
  
  vertical-align: top;
}

blockquote {
  margin-top: 30px;
  min-width: 320px;
  font-style: italic;
  color: rgb(17, 17, 24);
  background-color: aliceblue;
  border-radius: 10px;
  padding: 15px;
}

blockquote > p:first-child::before {
  content: "❝";
  font-size: 2em;
  color: rgb(211, 193, 61);
}

blockquote > p:last-child::after {
  content: "❞";
  font-size: 2em;
  color: rgb(211, 193, 61);
}
