/* Определим как изображение будет вписываться в родителя */
img {
  width: 100%; /* Ширина изображения 100% от родителя */
  height: 100%; /* Высота изображения 100% от родителя */
  object-fit: cover; /* Изображение будет обрезано по краям */
}

div.card {
  display: inline-block; /* Отображение карточек в строку */
  width: 300px; /* Ширина карточки */
  height: 300px; /* Высота карточки */
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); /* Тень */
  margin: 10px; /* Отступ между карточками */
  padding: 10px; /* Отступ внутри карточки */
  background-color: rgb(163, 138, 208); /* Цвет фона карточки */
  border: 5px solid rgba(88, 98, 234, 0.62); /* Рамка карточки */
  border-radius: 5px;
}

div.gallery {
  background-color: rgb(219, 240, 255); /* Цвет фона */
  min-height: 600px; /* Минимальная высота контейнера */
  border: 10px double rgb(216, 193, 255); /* Рамка контейнера */
}
