/* Определим как изображение будет вписываться в родителя */

img {
  width: 100%; /* Ширина изображения 100% от родителя */
  height: 100%; /* Высота изображения 100% от родителя */
  object-fit: cover; /* Изображение будет обрезано по краям */
}

div.image {
  width: 300px; /* Ширина родителя */
  height: 300px; /* Высота родителя */
  border-radius: 10px; /* Скругление углов родителя */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень родителя */
}

div.card {
  display: inline-block; /* Отображение карточек в строку */
  width: 350px; /* Ширина карточки */
  min-height: 500px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5); /* Тень */
  margin: 10px; /* Отступ между карточками */
  padding: 10px; /* Отступ внутри карточки */
  background-color: rgb(163, 138, 208); /* Цвет фона карточки */
  border: 5px solid rgba(88, 98, 234, 0.62); /* Рамка карточки */
  border-radius: 5px;
}

div.gallery {
  background-color: rgb(219, 240, 255); /* Цвет фона */
  min-height: 600px; /* Минимальная высота контейнера */
  border: 10px double rgb(216, 193, 255); /* Рамка контейнера */
}

/* Стили для figure - контейнера с изображением и подписью */
figure {
  margin: 0; /* Убираем стандартные отступы */
  height: 100%; /* Заполняем всю карточку */
  display: flex; /* Используем флекс для распределения пространства */
  flex-direction: column; /* Ориентация — колонка */
}


figcaption {
  overflow: auto; /* Если текст не помещается, добавляем прокрутку */
  /* Если совсем без flex, можно закомментировать строки выше и использовать фиксированную высоту */
  height: 200px; /* Фиксированная высота для подписи */
}